.arbeiter{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 20px;
}

.arbeiter-card{
    display: flex;
    flex-direction: row;
    border: 2px;
    border-style: solid;
    border-color: cadetblue;
    background-color:honeydew;
    border-radius: 12px;
    width: 100%;
}

.arbeiter-card-item{
    width: 100%;
    padding-left: 5px;
}